h1, h2, h3, h4, h5, a {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #111d5e;
}

.header {
    color: #f07b3f;
    text-align: center;
    margin-top: 3%;
}

.head-lb {
    font-family: 'Kanit', sans-serif;
    color: #ffd369;
    font-size: 20px;
    margin-bottom: 3%;
}

.btn1 {
    background-color: #ffd369;
    font-family: "Poppins", sans-serif;
    color: black;
}

.btn2 {
    background-color: #ff7315;
    margin-top: 20%;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 50px;
}

.input-name {
    width: 60%;
    font-family: 'Kanit', sans-serif;
    border-radius: 0.25rem;   
}

.input-number {
    width: 15%;
    font-family: 'Kanit', sans-serif;
    border-radius: 0.25rem;
}

.head-lb2 {
    color: #d3f4ff;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

.guess-name {
    color: #d3f4ff;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.head-lb3 {
    color: #f8b195;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

.lucky-name {
    color: #f8b195;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}